MONGO_URL  = ""
DISCORD_PUBLIC_KEY = ""
DISCORD_TOKEN = ""
DISCORD_APPLICATION_ID = ""
REDIS_HOST = ""
REDIS_PORT = 6379
REDIS_PASSWORD = ""

SERVER_HOST = "0.0.0.0"
SERVER_PORT = 8010
SERVER_AUTH = ""

BOT_API = "http://127.0.0.1:8002"
BOT_API_AUTH = ""
